set(autostart true)

map()
    kv(dbpath "/mnt/apps/dac/db")
    kv(appspath "/mnt/apps/dac/images")
    kv(datapath "/mnt/data/dac")
    kv(annotationsFile "annotations.json")
    kv(annotationsRegex "public\\.*")
    key(root)
    map()
        kv(outofprocess true)
        kv(mode "Container")
    end()
end()

ans(configuration)
